.sertificate {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pdf {
    object-fit: scale-down;
    width: 49%;
    margin: 0.1%;
}

@media (max-width:800px){
	.pdf {
		width: 100%;
	}
}