.left {
    width: 30%;
    background: #cadee0;
    min-width: 200px;
    padding: 10px;
    & ol {
        list-style-position: inside;
        & >li {
            font-size: 20px;
        }
        & >li:hover {
           font-size: 25px;
           margin-left: 30px;
           background-color:#83e6ef; 
           font-weight: 700;
        }
    }
}
.text {
    width: 70%;
    background: #b6e7eb;
    font-size: 20px;
    padding: 10px;
}
