// main: ../style.less
.header {
    height: 150px;
	background: #FFE680;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        margin-left: 50px;
    }
}
.face {
    width: 8rem;
    height: 8rem;
    background-repeat: round;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url(../img/face.png);

}
.nav_top {
    font-size: 1.5rem;
    display: flex;
    li {
        list-style: none;
        white-space:  nowrap;
        height: 50px;
    }

    
    a {
        padding: 10px;
        margin: 10px 20px;
        text-decoration: none;
        border: 1px solid black;
        background: #11f25f;
        border-radius: 5px;
        &:hover {
          background: #a7f5c2; 
          padding: 10px 25px; 
          margin: 10px 5px;  
        }
    }
}